{% extends "base.html" %}
{% block title %}{{article.title}} - The Orange Onion{% endblock %}
{% block content %}
<div class="container-lg">
  <div class="row mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('landing_page') }}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Read Article</li>
        </ol>
      </nav>
    <article>
      <div class="row mt-1">
        <h2 class="text-start fw-bolder">{{ article.title }}</h2>
      </div>
      <div class="row mb-1 mb-lg-3">
        <p class="text-start fw-semibold">Published on {{ article.date }}&ensp; |&ensp; Written by "The Blue Onion Team"</p>
      </div>
      <div class="row mb-1 mb-lg-3">
        <div class="col">
          <img src="{{url_for('static', filename='CSUFAtNight.jpg')}}" class="img-fluid border-white" alt="Accompanying picture">
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 mt-1 mt-lg-3">
        <div class="col-11 col-lg-9 border-end border-secondary-subtle">
          {% for paragraph in formatted_body %}
            <p class="text-start text-break pe-3">{{paragraph}}</p>
          {% endfor %}
        </div>
        <div class="col col-lg-3">
          <p class="text-start fst-italic ps-1">
            Ads <br>
            We're looking for sponsors!
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}