/*------------------------------------
 - COLOR OnionOrange
 ------------------------------------*/
 .alert-OnionOrange {
    color: #723e09;
    background-color: #fae1c7;
    border-color: #f9d7b4;
  }
  .alert-OnionOrange hr {
    border-top-color: #f7ca9c;
  }
  .alert-OnionOrange .alert-link {
    color: #432405;
  }
  .badge-OnionOrange {
    color: #212529;
    background-color: #e47d12;
  }
  .badge-OnionOrange[href]:hover, .badge-OnionOrange[href]:focus {
    color: #212529;
    background-color: #b4630e;
  }
  .bg-OnionOrange {
    background-color: #e47d12 !important;
  }
  a.bg-OnionOrange:hover, a.bg-OnionOrange:focus, button.bg-OnionOrange:hover, button.bg-OnionOrange:focus {
    background-color: #b4630e !important;
  }
  .border-OnionOrange {
    border-color: #e47d12 !important;
  }
  .btn-OnionOrange {
    color: #212529;
    background-color: #e47d12;
    border-color: #e47d12;
  }
  .btn-OnionOrange:hover {
    color: #212529;
    background-color: #c26a0f;
    border-color: #b4630e;
  }
  .btn-OnionOrange:focus, .btn-OnionOrange.focus {
    box-shadow: 0 0 0 0.2rem rgba(228, 125, 18, 0.5);
  }
  .btn-OnionOrange.disabled, .btn-OnionOrange:disabled {
    color: #212529;
    background-color: #e47d12;
    border-color: #e47d12;
  }
  .btn-OnionOrange:not(:disabled):not(.disabled):active, .btn-OnionOrange:not(:disabled):not(.disabled).active, .show > .btn-OnionOrange.dropdown-toggle {
    color: #212529;
    background-color: #b4630e;
    border-color: #a65b0d;
  }
  .btn-OnionOrange:not(:disabled):not(.disabled):active:focus, .btn-OnionOrange:not(:disabled):not(.disabled).active:focus, .show > .btn-OnionOrange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(228, 125, 18, 0.5);
  }
  .btn-outline-OnionOrange {
    color: #e47d12;
    background-color: transparent;
    border-color: #e47d12;
  }
  .btn-outline-OnionOrange:hover {
    color: #212529;
    background-color: #e47d12;
    border-color: #e47d12;
  }
  .btn-outline-OnionOrange:focus, .btn-outline-OnionOrange.focus {
    box-shadow: 0 0 0 0.2rem rgba(228, 125, 18, 0.5);
  }
  .btn-outline-OnionOrange.disabled, .btn-outline-OnionOrange:disabled {
    color: #e47d12;
    background-color: transparent;
  }
  .btn-outline-OnionOrange:not(:disabled):not(.disabled):active, .btn-outline-OnionOrange:not(:disabled):not(.disabled).active, .show > .btn-outline-OnionOrange.dropdown-toggle {
    color: #212529;
    background-color: #e47d12;
    border-color: #e47d12;
  }
  .btn-outline-OnionOrange:not(:disabled):not(.disabled):active:focus, .btn-outline-OnionOrange:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-OnionOrange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(228, 125, 18, 0.5);
  }
  .list-group-item-OnionOrange {
    color: #723e09;
    background-color: #f9d7b4;
  }
  .list-group-item-OnionOrange.list-group-item-action:hover, .list-group-item-OnionOrange.list-group-item-action:focus {
    color: #723e09;
    background-color: #f7ca9c;
  }
  .list-group-item-OnionOrange.list-group-item-action.active {
    color: #212529;
    background-color: #723e09;
    border-color: #723e09;
  }
  .table-OnionOrange, .table-OnionOrange > th, .table-OnionOrange > td {
    background-color: #f9d7b4;
  }
  .table-hover .table-OnionOrange:hover {
    background-color: #f7ca9c;
  }
  .table-hover .table-OnionOrange:hover > td, .table-hover .table-OnionOrange:hover > th {
    background-color: #f7ca9c;
  }
  .text-OnionOrange {
    color: #e47d12 !important;
  }
  a.text-OnionOrange:hover, a.text-OnionOrange:focus {
    color: #b4630e !important;
  }
  