{% extends "base.html" %}
{% block title %}The Orange Onion{% endblock %}
{% block content %}
<style>
  /* use this to change the color of the navbar, containers, etc */
  .navbar-custom{
  background-color :rgb(5, 243, 255) 
}
</style>

<div class="navbar-custom">
  <div class=" p-5 text-center">
    <h1 style =" color: orange">Test</h1>
    <h1>The Orange Onion</h1>
  </div>
</div>


<div class="container-lg">
  <h1>Please log*onion*</h1>
  <h1 style =" color: orange">Test</h1>
  <img src="{{url_for('static', filename='OrangeOnion.jpg')}}" class="img-fluid img-thumbnail" alt="An orange onion">
  <br>
  <form action="" method="post">
    <input type="text" placeholder="Username" name="username" value="{{
      request.form.username }}">
     <input type="password" placeholder="Password" name="password" value="{{
      request.form.password }}">
    <input class="btn btn-default" type="submit" value="Login">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
</div>
{% endblock %}