{% extends "base.html" %}
{% block title %}Create New Article - The Orange Onion{% endblock %}
{% block content %}
<div class="container-lg">
  <div class="row justify-content-center">
    <div class="col-11 col-lg-8">
      <h2 class="p-2 text-start">New Article</h2>
      <div class="text-start fst-italic mb-3 p-2">Click on a field to start filling it out. All fields are required!</div>
      <form class="p-2" action="{{ url_for('new_article')}}" method="post">
        <input value="new_article" type="hidden" name="form_type">
        <div class="form-floating mb-3">
          <input
                  type="text"
                  class="form-control"
                  id="titleInput"
                  placeholder="Article Title"
                  name="title"
                  required
          >
          <label for="titleInput">Title</label>
        </div>
        <div class="form-floating mb-3">
          <input
                  type="text"
                  class="form-control"
                  id="descriptionInput"
                  placeholder="Article Description"
                  name="content"
                  required
          >
          <label for="descriptionInput">Description</label>
        </div>
        <div class="form-floating mb-3">
          <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="longContentInput"
                  style="min-height:25vh;max-height:65vh"
                  name="long_content"
                  required
          ></textarea>
          <label for="longContentInput">Article Body</label>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="d-grid justify-content-md-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}